<div class="content">
  <div class="container">
    <h1>Green Leaves</h1>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-25"><label>Nombre:</label></div>
          <div class="col-75"><input type="text" name="nombre"></div>
        </div>
        <div class="row">
          <div class="col-25"><label>E-mail:</label></div>
          <div class="col-75"><input type="text" name="email"></div>
        </div>
        <div class="row">
          <div class="col-25"><label>Teléfono:</label></div>
          <div class="col-75"><input type="text" name="telefono"></div>
        </div>
        <div class="row">
          <div class="col-25"><label>Fecha:</label></div>
          <div class="col-75"><input class="classdate" type="date" name="dp" [(ngModel)]="model" ngbDatepicker
              #d="ngbDatepicker">
          </div>
        </div>
        <div class="row">
          <div class="col-25"><label>Ciudad y Estado:</label></div>
          <div class="col-75"><input type="text" name="ciudad" (keyup)="showSearchResults($event)">
            <ul *ngIf="searching === true" class="search-results">
              <li *ngFor="let item of faqs | search : searchText">
                <a>{{ item }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="rowsend">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
        </div>
        {{searching}}
      </form>
    </div>
  </div>
</div>