<div class="content">
  <div class="container">
    <h1>Green Leaves</h1>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-25"><label>Nombre:</label></div>
          <div class="col-75"><input type="text" name="nombre"></div>
        </div>
        <div class="row">
          <div class="col-25"><label>E-mail:</label></div>
          <div class="col-75"><input type="text" name="email"></div>
        </div>
        <div class="row">
          <div class="col-25"><label>Teléfono:</label></div>
          <div class="col-75"><input type="text" name="telefono"></div>
        </div>
        <div class="row">
          <div class="col-25"><label>Fecha:</label></div>
          <div class="col-75"><input class="classdate" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">

            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
        <div class="row">
          <div class="col-25"><label>Ciudad y Estado:</label></div>
          <div class="col-75"><input type="text" name="ciudad"></div>
        </div>
        <div class="row">
          <div class="rowsend">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
        </div>

        <pre>Model: {{ model | json }}</pre>
      </form>
    </div>
  </div>
</div>